* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#introduction > div {
  margin-bottom: 100px
}

#introduction {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding-top: 50px
}

body {
  margin:0px;
  display: inline-block;
  width: 100%
}

ol {
  margin-top: 0px;
}

#exercise .list p.subhed {
  font-weight: bold;
  margin: 20px 0px 0px;
}


#exercise p {
  margin: 20px 0px 5px;
}

#exercise .list p {
  margin: 10px 0px
}

  #exercise img {
    max-height: 250px;
    padding: 10px 50px 20px 0px;
  }

  #exercise {
    width: 100%;
    max-width: 800px;
    margin: 20px auto
  }

  #container {
    line-height: 1.6;
    text-align: left;
    line-height: 1.5;
    padding:0px 0px 50px;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", Helvetica, sans-serif;
    font-weight: 200;
    margin: 0px;
    display: inline-block;
    width: 100%;
  }

#container.introduction {
  background-color: rgb(8, 24, 37)
}

  #container p code {
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #ebebeb;
    background-color: #f7f7f7;
    border-radius: 2px;
    font-family: "Menlo", Courier, monospace;
    font-size: 14px;
    color: #666;
  }

  .lecture span {
    float: left;
    margin-right: 10px;
    display: block;
  }


  .lecture {
    clear: both;
    display: inline-block;
    margin: 30px 0px 10px;
  }

 .section > ol, .section > ul {
    float: left;
  }

#container pre code {
  font-family: Monaco, Courier, monospace;
  font-size: 12px;
}

  #container pre {
    line-height: 16px;
    padding: 0.5em 1em;
    overflow: auto;
    border-left: 1px solid #cecece;
    margin-left: 0;
    background: #f7f7f7;
}



  #content a:hover, #exercise a:hover, a:hover {
    text-decoration: underline;
  }

  a {
    color: #4A93B4;
    text-decoration: none;
  }

  .nav a:hover {
      color: #444;
  }

  p, li {
    color: #444;
    margin:0px;
    font-size: 15px;
    clear: both;
  }

  h1 {
    font-family: 'Jacques Francois', serif;
    font-size: 45px;
    color: #D23030;
    margin: 35px 0px 5px 0px;
  }


  h2 {
font-family: 'Jacques Francois', serif;
font-size: 24px;
color: #444;
clear: both;
margin:40px 0px 0px;
  }

  h3, h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #444;
  margin: 20px 0px 10px;
  padding: 10px 0px;
  }

.introduction h3, .introduction h2, .introduction h4, .introduction p {
  color: #999;
}

  h4 {

    margin: 20px 0px 0px 0px;
    clear: both;
  }
  .section h3 {
    background: #4A93B4;
    padding: 5px 10px;
    font-weight: normal;
    color:#fff;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  width: 100%
  }

  p.talkers {
    text-transform: uppercase;
    font-size: 11px;
  }

  .section div span {
    font-size: 11px;
    margin-left: 5px;
    color: #999;
  }
  .nav {
    float: left;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 130px;
    text-align: right;
    padding: 60px 10px;
    line-height: 2em;
    position: fixed;
  }

  #content > div {
    width: 650px;
    padding:1px 0px;
    clear: both;
    margin-bottom: 50px;
    display: inline-block;
  }

  #content > div img, #content > div .gist {
    max-width: 100%;
    box-shadow: 1px 1px 10px #cecece;
  }

  #content > div a img:hover {
    box-shadow: 1px 1px 10px #666;
  }

  #content > div > span, #content .reading {
    float: left;
    margin: 0px 0px 20px;
  }


  #content .gist span, #content .gist div {
    font-size: 11px;
    line-height: 1em
  }

  #content {
    float:right;
    margin-bottom: 50px;
  }

  .nav li {
    list-style-type: none;
    font-size: 11px
  }

  .nav ul {
    margin: 0px;
    padding-left: 0px
  }

  .active {
    font-weight: bold
  }

  #content > div > span.small {
    float: left;
    width: 43%;
    margin: 20px 30px 20px 0px;
    font-size: 13px;
    color:#444;
    line-height: 1.6em
  }


  #content > div > span.small.tiny {
  margin-top:10px;
  font-size:11px;
  font-weight: normal;
  }



   #content > div > span.small.big {
    width: 89%;
  }

  li {
    font-size: 15px;
  }


  @media (max-width:480px) {

    #container {
      width: 100%;
      padding:10px;
    }

    #content {
      margin: 0px auto;
      max-width: 300px;
      float: none;
    }

    #introduction {
      padding-top: 0px
    }

    .nav {
      width: 300px;
      padding: 20px;
      background: white;
      top: 0px;
      margin: 0px auto;
      position: relative;
      float: none;
    }

    .nav li {
      float: left;
      margin-right: 20px;
    }
    .nav li:last-child {
      margin-right: 0px;
    }

    #content > div {
      width: 100%
    }
    h1 {
      font-size: 30px
    }

    .nav li a span {
  display: none
    }


  }
